
@{
    ViewData["Title"] = "CreateCalendar";
}

<h1>CreateCalendar</h1>

<form asp-controller="Home" asp-action="CreateCalendar" method="post">
   
    <input type="text" name="calendarName" placeholder="calendar name" required/>
    <button type="submit">Create</button>
</form>